@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins.scss";

.tabs-section {
  display: grid;
  grid-template-columns: 379px 1fr;
  grid-gap: 141px;
  align-items: flex-start;
  .tabs {
    display: grid;
    grid-gap: 24px;
    .tab {
      max-height: 95px;
      background: #062636;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      padding-left: 52px;
      cursor: pointer;
      > p {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.02em;
      }

      svg {
        &:first-of-type {
          margin-right: 32px;
          @include md {
            margin-right: 16px;
          }
        }
        &:last-of-type {
          height: 7px;
          width: 15px;
          path {
            stroke: $white;
          }
        }
      }

      &.active {
        background: #3bc4ca;
        svg {
          path {
            stroke: $black;
          }
          &:last-of-type {
            transform: rotate(180deg);
          }
        }
        p {
          color: $black;
        }
      }
      @include lg {
        padding-left: 24px;
      }
      @include md {
        padding: 24px 16px;
      }
    }
    .step {
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.01em;
      }
      .subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
      }
      .desc {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding: 16px 0;
      }
      .cities {
        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 24px 0;
          cursor: pointer;
          &:nth-child(2) {
            border-top: 1px solid #0a425d;
            border-bottom: 1px solid #0a425d;
          }
          > p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
          }
          .badge {
            width: 102px;
            height: 33px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.02em;
          }
        }
      }
      &.step-2 {
        .title {
          margin-bottom: 40px;
        }
        .desc {
          padding: 8px 0 24px;
        }
      }
    }
  }
  .tabs-content {
    max-width: 555px;
    > div {
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 31px;
        line-height: 130%;
        letter-spacing: -0.01em;
      }
      .subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 140%;
      }
      .desc {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding: 16px 0;
      }
      .cities {
        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 24px 0;
          cursor: pointer;
          &:nth-child(2) {
            border-top: 1px solid #0a425d;
            border-bottom: 1px solid #0a425d;
          }
          > p {
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 140%;
          }
          .badge {
            width: 102px;
            height: 33px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.02em;
          }
        }
      }
      &.step-2 {
        .title {
          margin-bottom: 40px;
        }
        .desc {
          padding: 8px 0 24px;
        }
      }
    }
    @include md {
      display: none;
    }
  }
  @include xl {
    grid-gap: 32px;
  }
  @include md {
    grid-template-columns: 1fr;
  }
}
