@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins.scss";

.our-team {
  padding: 80px 40px;
  position: relative;
  > img {
    position: absolute;
    top: -191px;
    left: -40px;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    @include md {
      display: none;
    }
  }
  @include md {
    padding: 80px 20px;
  }
}
